@use "global" as *;

.blog-article {

}

.blog-article time {
    font-size: rem(14);
    font-family: $en-font-family;
}

.blog-article__header {
    font-size: rem(24);
    font-weight: $medium;
    border-bottom: rem(1) solid $green;
    padding-bottom: rem(5);
    @include mq(md) {
        padding-bottom: 0;
        font-size: rem(32);
    }
}

.blog-article__img,
.blog-article__text,
.blog-article__items {
    margin-top: rem(24);
    @include mq(md) {
        margin-top: rem(38);
    }
}

.blog-article__lists li {
    position: relative;
    padding-left: rem(20);
    padding-left: rem(27);
    margin-top: rem(4);
}

.blog-article__lists li::before {
    position: absolute;
    content: "";
    background-image: url(../images/common/hitode_logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: rem(18);
    height: rem(18);
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}



