@use "global" as *;

// .blog-card {
//   box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
//   padding-top: rem(16);
//   // width: calc(333 / 375 * 100%);
//   width: 100%;
//   margin: auto;
//   background-color: white;
//   @include mq(md) {
//     width: 100%;
//   }
// }

// .blog-card  + .blog-card  {
//   margin-top: rem(40);
// }

// .blog-card__wrapper {
//   padding: rem(10);
// }

// .blog-card__img {
//   display: flex;
//   justify-content: center;
//   align-items: center;


// }

// .blog-card__img img {
//   aspect-ratio: 300 / 200;
//   object-fit: cover;
//   width: calc(301 / 333 * 100%);
// }

// .blog-card__body {
//   padding-left: rem(16);
//   padding-right: rem(16);
//   padding-bottom: rem(24);
// }

// .blog-card__header {
//   padding-top: rem(17);
//   border-bottom: 1px solid $green;
//   padding-bottom: rem(5);
// }


// .blog-card__category {
//   display: inline-block;
//   font-size: rem(12);
//   line-height: calc(22 / 12);
// }

// .blog-card__title {
//   font-size: rem(16);
//   font-weight: 500;
//   line-height: calc(24 / 19);
//   margin-top: rem(3);
// }

// .blog-card__text {
//   margin-top: rem(16);
//   font-size: rem(16);
//   // text-align: center;

//   display: -webkit-box;
//   -webkit-box-orient: vertical;
//   -webkit-line-clamp: 5; 
//   overflow: hidden;
// }



.blog-card {
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
  width: 100%;
  background-color: white;
  flex-grow: 1; 
}

.blog-card__img {
  display: flex;
  justify-content: center;
  align-items: center; 
}

.blog-card__img img {
  aspect-ratio: 300 / 200;
  object-fit: cover;
  width: 100%;
}

.blog-card__body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: rem(16);
}

.blog-card__header {
  padding: rem(17) 0 rem(5);
  border-bottom: 1px solid $green;
}

.blog-card__category {
  display: inline-block;
  font-size: rem(12);
  line-height: calc(22 / 12);
}

.blog-card__title {
  font-size: rem(16);
  font-weight: 500;
  line-height: calc(24 / 19);
  margin-top: rem(3);
}

.blog-card__text {
  font-size: rem(16);
}