@use "global" as *;

.campaign-content {

}

.campaign-content__menu {
    margin-top: rem(48);
}

.campaign-content__voices {
    margin-top: rem(38);
}

.campaign-content__voice.voice__container +.campaign-content__voice.voice__container {
    margin-top: rem(38);
}