@use "global" as *;


.contents-menu{

}

.contents-menu__items {
    text-transform: capitalize;
    font-size: rem(14);
    line-height: calc(22 / 14);
    color: $green;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 14px;
    text-align: center;
    transform: 0.5s;
    @include mq(md) {
        grid-template-columns: repeat(4, 1fr);
    }
}

.contents-menu__item {
    padding: 6px 25px;
    border: 1px solid $green;
    white-space: nowrap;
}

.contents-menu__item:hover {
    background-color: $green;
    color: $white;
    transition: 0.5s;
}