@use "global" as *;

.form {
	z-index: 10;
    position: relative;

}

.form dl {
	display: flex;
	flex-direction: column;

	@include mq(md) {
		gap: rem(106);

	}
}

.form dd {
	width: 100%;
	@include mq(md) {
		width: calc(480 / 700 * 100%);
	}
}

.form input {
	height: rem(40);
}
::placeholder {
	color: #DDF0F1;
  }

.form__title {
	font-weight: $bold;
	align-items: center;
	display: flex;
	gap: rem(8)
	// line-height: 1;
}

.form__title span {
	font-weight: normal;
	background-color: #C94800;
	color: $white;
	font-size: rem(12);
	padding: rem(0) rem(16);
	letter-spacing:0.4em;
	text-indent: 0.4em;
}
