@use "global" as *;

.nav {
    display: flex;
    column-gap: rem(0);
    width: 100%;
    gap: rem(18);
    @include mq(md) {
        justify-content: center;
        gap: rem(40);
        max-width: rem(1080);
        margin-left: auto;
        margin-right: auto;
    }
}

.nav__columns--left,
.nav__columns--right {
    display: flex;
    flex-direction: column;
    @include mq(md) {
        flex-direction: row;
        width: 50%;
        gap: rem(120)
    }
}

.nav__items {
    display: flex;
    flex-direction: column;
    width: 100%;
    @include mq(md) {
    }
}

.nav__item {
    line-height: calc(18 / 16);
    padding-left: rem(22);
}

.nav__item a{
    display: inline-block;
    width: 100%;
    padding-bottom: rem(25);
    @include mq(md) {
    }
}

.nav__item a:hover {
    opacity: 0.3;
}

.nav__item:first-child {
    margin-top: rem(0);
    position: relative;
    margin-top: rem(14);
    margin: 0;
    font-weight: $bold;
}

.nav__item:first-child::before {
    content: "";
    width: rem(18);
    height: rem(18);
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../images/common/nav_title-hitode.png);
    background-size: contain;
}

.nav__copy {
    font-size: rem(12);
    font-family: $en-font-family;
    line-height: calc( 18 / 12 );
    @include mq(md) {
        font-size: rem(12.4);
    }
}

