@use "global" as *;

.price-table {
    border-collapse:collapse;
    max-width: rem(600);
    width: 100%;
}


.price-table__head {
    position: relative;
    background-color: $green;
    color: $white;
    font-weight: $bold;
    height: rem(40);
}

.price-table__head th {
    padding-left: rem(32);
}

.price-table th::before {
    background-image: url(../images/common/info_logo1-white.png);
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    display: block;
    height: rem(24);
    position: absolute;
    width: rem(24);
    display: block;
    left: calc(50% - rem(72));

}

.price-table tr,
.price-table td {
    border: 1px solid $green;
}

.price-table__body {
    height: rem(60);
}

.price-table__type {
    text-align: center;
    width: calc( 240 /345 * 100% );
}
.price-table__pay {
    text-align: right;
    padding-right: rem(15);
}



