@use "global" as *;

.price-items {
    border-collapse:collapse;
    max-width: rem(600);
    width: 100%;
    @include mq(md) {
        max-width: rem(700);
    }
}

.price-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    @include mq(md) {
        flex-direction: row;
    }
}

.price-item + .price-item {
    margin-top: rem(40);
}


.price-item__header {
    position: relative;
    background-color: $green;
    color: $white;
    font-weight: $bold;
    height: rem(40);
    font-size: rem(16);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: rem(32);
    @include mq(md) {
        height: initial;
    }
}


.price-item__header::before {
    background-image: url(../images/common/info_logo1-white.png);
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    display: block;
    height: rem(24);
    position: absolute;
    width: rem(24);
    display: block;
    left: calc(50% - rem(72));
}

.price-item__body {
    display: grid;
    grid-template-columns: calc(240 / 345 * 100%) calc(105 / 345 * 100%) ;
}

.price-item__left {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: rem(60);
}

.price-item__right {
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: rem(15);
}
// .price-item dt,
// .price-item dd {
//     border: 1px solid $green;
// }
.price-item dt {
    border-bottom: 1px solid $green;
    border-left: 1px solid $green;
    border-right: 1px solid $green;
}
.price-item dd {
    border-bottom: 1px solid $green;
    border-right: 1px solid $green;
}

.price-item__body {
    // height: rem(60);
}

.price-item__type {
    text-align: center;
    width: calc( 240 /345 * 100% );
}
.price-item__pay {
    text-align: right;

}



//   テスト


