@use "global" as *;

.sub-price {
    margin-top: rem(50);
    @include mq(md) {
        margin-top: rem(100);
    }
}

.sub-price__inner {
    @include mq(md) {
        padding-top: rem(48);
    }
}

