@use "global" as *;

.sub-information {
  position: relative;
  margin-top: rem(85);
  padding-top: rem(84);
  padding-bottom: rem(84);
  z-index: initial;
  @include mq(md) {
    margin-top: rem(140);
    padding-top: rem(100);
    padding-bottom: rem(102);
    z-index: initial;
  }

}

.sub-information__inner {
  padding-left: rem(15);
  padding-right: rem(15);
  @include mq(md) {
    padding-left: $padding-pc;
    padding-right: $padding-pc
  }
}

.sub-information__list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: rem(20);
  text-align: center;
}

.sub-information__list li {
  background-color: $bg-green;
  font-size: rem(14);
  color: $green;
  padding: rem(10) rem(14);
  white-space: nowrap;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.sub-information__content {
  border: 1px solid $green;
  margin-top: rem(28);
  padding: rem(24);
  @include mq(md) {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: rem(1080);
    width: 100%;
    margin: auto;
    margin-top: rem(38);
  }
}
.sub-information__img {
  margin-top: rem(24);
  width: 100%;
  @include mq(md) {
    // max-width: rem(540);
    max-width: 50%;
  }

}

.sub-information__img img {
  aspect-ratio: 345 / 227;
  object-fit: cover;
}

.sub-information__text {
  // margin-top: rem(25);
  @include mq(md) {
    margin-top: rem(0);
    margin-left: rem(48);
    max-width: calc(492 / 1080  * 100%);
    width: 100%;
  }
}

.sub-information__header {
  border-bottom: 1px solid $green;
  padding-bottom: 3px;
}

.sub-information__title {
  font-size: rem(20);
  font-weight: $bold;
  line-height: calc(24 / 20);
  @include mq(md) {
    font-size: rem(24);
    line-height: 1.7;
  }
}

.sub-information__body {
  margin-top: rem(8);
  font-size: rem(16);
  line-height: calc( 24 / 16);
}

.sub-information__btn {
  text-align: center;
  padding-top: rem(40);
  position: relative;
  Z-INDEX: 10000;
}

// sub-information-page



// test

.tab {
  display: none;
}
.tab-button {
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}
.tab-button.active {
  background-color: #ccc;
}