@use "global" as *;

.sub-faq {
    margin-top: rem(50);
    margin-top: rem(100);

}

.sub-faq__inner.inner {
    @include mq(md) {
        max-width: rem(750);
        width: 100%;
        padding-top: rem(50);
    }

}