@use "global" as *;

.about-gallery__fixed {
  height: 100%;
  position: fixed;
  width: 100%;
}

.wrapper {
  height: 100%;
  position: relative;
  background-color: aqua;
}

.wrapper__inner {
  // height: 200px;
  background-color: burlywood;
}
.wrapper__inner::before {
  position: absolute;
  background-image: url(../images/common/contents-logo-1.png);
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: block;
  width: calc(120 / 375 * 100%);
  padding-bottom: calc(55 / 375 * 100%);
  top: rem(-25);
  z-index: -1;
  @include mq(md) {
    left: calc(50% - min(50vw, 613px));
    top: rem(-67);
    max-width: rem(301);
    width: calc(301 / 1130 * 100%);
    padding-bottom: calc(131 / 1130 * 100%);
  }
}