@use "global" as *;

.voice-content {

}

.voice-content__menu {
    margin-top: rem(48);
}

.voice-content__voices {
    margin-top: rem(38);
}

.voice-content__voice.voice__container +.voice-content__voice.voice__container {
    margin-top: rem(38);
}